.is-vertical-center {
    display: flex;
    align-items: center;
}

.is-horisontal-center {
    display: flex;
    justify-content: center;
}

.sq-gradiented {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1));
}

.sq-result-answer {
    /* dis */
}

.sq-invisible {
    animation: makeInvisible 1s 1 ease-in-out;
    display: none;
    visibility: hidden;
    opacity: 0;
}

.sq-visible {
    animation: makeVisible 0.5s 1 ease-in-out;
    /* display: block;
    visibility: visible;
    opacity: 1; */
}

@keyframes makeVisible {
    0% {
        display: block;
        visibility: visible;
        opacity: 0;
        top: -10vh
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

@keyframes makeInvisible {
    0% {
        /* display: block; */
        opacity: 1;
        bottom: 0;
    }
    100% {
        bottom: -10vh;
        opacity: 0;
        display: none; 
        visibility: hidden;
    }

}